*.db
*.egg-info
*.log
*.pyc
*.sqlite3
*.bak
.DS_Store
.pytest_cache
.coverage
.coverage.*
/coverage
.pyc
.vscode
.idea/
.vagrant
/.idea
/build
/dist
/env
backup.json
local_settings.py
local.env
venv
venv3
*.retry
*.sqlite3-journal
secure.yaml
.swp
dev/media/
dev/static/
dev/nfs_shared/
dev/dkron/
dev/docker-compose.yml
dev/*.pem
theme/static/components/
ci.version
.mypy_cache/
docker/requirements_full.txt
.python-version
.vim/

# ignore the npm stuff for now
/node_modules/
/package-lock.json
/package.json
.tox