{% load i18n nested_admin admin_urls %}
{% with inline_admin_formset.formset.is_nested as is_nested %}

{% with inline_admin_formset.opts as inline_opts %}
<div class="inline-group compact px-3 pt-3" id="{{ inline_admin_formset.formset.prefix }}-group" data-inline-prefix="{{ inline_admin_formset.formset.prefix }}" data-inline-verbose-name="{{ inline_admin_formset.opts.verbose_name|capfirst }}" data-inline-delete-text="{% trans "Remove" %}">
    {{ inline_admin_formset.formset.management_form }}
    {{ inline_admin_formset.formset.non_form_errors }}

    {% with inline_admin_formset.opts.sortable_field_name|default:"" as sortable_field_name %}
    {% for inline_admin_form in inline_admin_formset|formsetsort:sortable_field_name %}
        <div class="inline-related compact{% if inline_admin_form.original or inline_admin_form.show_url %} has_original{% endif %}{% if forloop.last %} empty-form last-related{% endif %} mt-3" id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
            <h3>
                <b>{{ inline_admin_formset.opts.verbose_name|capfirst }}:</b>&nbsp;
                <span class="inline_label">
                    {% if inline_admin_form.original %}
                        {{ inline_admin_form.original }}
                        {% if inline_admin_form.model_admin.show_change_link and inline_admin_form.model_admin.has_registered_model %}
                            <a href="{% url inline_admin_form.model_admin.opts|admin_urlname:'change' inline_admin_form.original.pk|admin_urlquote %}" class="inlinechangelink">{% trans "Change" %}</a>
                        {% endif %}
                    {% else %}
                        #{{ forloop.counter }}
                    {% endif %}
                </span>
                {% if inline_admin_form.show_url %}<a href="{{ inline_admin_form.absolute_url }}">{% trans "View on site" %}</a>{% endif %}
                {% if inline_admin_formset.formset.can_delete and inline_admin_form.original %}<span class="delete">{{ inline_admin_form.deletion_field.field }} {{ inline_admin_form.deletion_field.label_tag }}</span>{% endif %}
            </h3>

            {% if inline_admin_form.form.non_field_errors %}{{ inline_admin_form.form.non_field_errors }}{% endif %}
            {% for fieldset in inline_admin_form %}
                {% include "admin/includes/fieldset.html" %}
            {% endfor %}
            {% if inline_admin_form.has_auto_field or inline_admin_form.needs_explicit_pk_field %}
                {{ inline_admin_form.pk_field.field }}
            {% endif %}
            {% if inline_admin_form.fk_field %}{{ inline_admin_form.fk_field.field }}{% endif %}
            {% if inline_admin_form.form.inlines %}
                {% for nested in inline_admin_form.form.inlines %}
                    {% include nested.opts.template with inline_admin_formset=nested %}
                {% endfor %}
            {% endif %}
          </div>
    {% endfor %}
    {% endwith %}
</div>

<div class="add-row d-inline-block ml-3">
    <a href="javascript://"><span class="badge badge-pill badge-success font-weight-bold"><i class="fas fa-plus"></i> {% blocktrans with verbose_name=inline_admin_formset.opts.verbose_name|capfirst %}Add another {{ verbose_name }}{% endblocktrans %}</span></a>
</div>
{% endwith %}{# ends with inline_admin_formset.opts as inline_opts #}

{% endwith %}{# ends {% with inline_admin_formset.formset.is_nested as is_nested %} #}
