{% extends "admin/base.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
  {% endif %}
  {% if cl.formset or action_form %}
    <script src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
    <script src="{% static 'admin/js/cancel.js' %}" async></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation delete-selected-confirmation{% endblock %}

{% block content %}

<div class="page-inner">
    <div class="page-header">
        {% include 'includes/breadcrumbs.html' %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    {% if perms_lacking %}
                        <p>{% blocktrans %}Deleting the selected {{ objects_name }} would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktrans %}</p>
                        <ul>
                        {% for obj in perms_lacking %}
                            <li>{{ obj }}</li>
                        {% endfor %}
                        </ul>
                    {% elif protected %}
                        <p>{% blocktrans %}Deleting the selected {{ objects_name }} would require deleting the following protected related objects:{% endblocktrans %}</p>
                        <ul>
                        {% for obj in protected %}
                            <li>{{ obj }}</li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <p>{% blocktrans %}Are you sure you want to delete the selected {{ objects_name }}? All of the following objects and their related items will be deleted:{% endblocktrans %}</p>
                        {% include "admin/includes/object_delete_summary.html" %}
                        <h2>{% trans "Objects" %}</h2>
                        {% for deletable_object in deletable_objects %}
                            <ul>{{ deletable_object|unordered_list }}</ul>
                        {% endfor %}
                        <form method="post" class="form-group p-0">{% csrf_token %}
                            <div>
                            {% for obj in queryset %}
                                <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}">
                            {% endfor %}
                            <input type="hidden" name="action" value="delete_selected">
                            <input type="hidden" name="post" value="yes">
                            <input type="submit" class="btn btn-primary" value="{% trans 'Yes, I’m sure' %}">
                            <a href="#" class="btn btn-dark cancel-link">{% trans "No, take me back" %}</a>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
