{% load i18n admin_urls %}
<div class="submit-row p-3">
    <!-- css class - btn btn-danger -->
{% if show_save %}<input type="submit" value="{% trans 'Save' %}" class="default btn btn-primary" name="_save" {{ onclick_attrib }}/>{% endif %}
{% if show_delete_link and original %}
    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
    <a href="{% add_preserved_filters delete_url %}" class="btn btn-light deletelink">{% translate "Delete" %}</a>
{% endif %}

{% comment %}
LINES FROM https://github.com/django/django/blob/main/django/contrib/admin/templates/admin/submit_line.html to finish implementation

{% if show_save_as_new %}<input type="submit" value="{% translate 'Save as new' %}" name="_saveasnew">{% endif %}
{% if show_save_and_add_another %}<input type="submit" value="{% translate 'Save and add another' %}" name="_addanother">{% endif %}
{% if show_save_and_continue %}<input type="submit" value="{% if can_change %}{% translate 'Save and continue editing' %}{% else %}{% translate 'Save and view' %}{% endif %}" name="_continue">{% endif %}
{% if show_close %}<a href="{% url opts|admin_urlname:'changelist' %}" class="closelink">{% translate 'Close' %}</a>{% endif %}
{% endcomment %}
</div>
