<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ site_url }}">{{ site_header.0 }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">{{ site_header.1 }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pageloadtime"></a>
        </li>
      </ul>
    </nav>
    <div class="copyright ml-auto">
      &copy; <a href="https://github.com/themekita/Atlantis-Lite">Atlantis</a> theme by <a href="https://www.themekita.com">ThemeKita</a> (MIT License).
    </div>
  </div>
</footer>
