{% load static %}

<script src="{% static 'components/jquery/dist/jquery.js' %}"></script>
<script src="{% static 'admin/js/jquery.init.js' %}"></script>
<script src="{% static 'components/popper.js/dist/umd/popper.js' %}"></script>
<script src="{% static 'components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'components/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'components/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'components/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
<script src="{% static 'components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'components/bootstrap.notify/js/bootstrap-notify.js' %}"></script>
<script src="{% static 'components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'components/select2/dist/js/select2.min.js' %}"></script>
<script src="{% static 'components/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<script src="{% static 'assets/js/atlantis.min.js' %}"></script>
<script src="{% static 'assets/js/surface.js' %}"></script>
<script src="{% static 'assets/js/preload.js' %}"></script>
