{% load i18n admin_urls static admin_modify %}

<link rel="stylesheet" href="{% static '/components/bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static '/components/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css' %}"/>
<link rel="stylesheet" href="{% static '/components/lato-font/css/lato-font.min.css' %}">
<link rel="stylesheet" href="{% static '/assets/css/atlantis.css' %}">
<link rel="stylesheet" href="{% static '/components/bootstrap-select/dist/css/bootstrap-select.min.css' %}"/>
<link rel="stylesheet" href="{% static '/components/select2/dist/css/select2.min.css' %}"/>
<link rel="stylesheet" href="{% static 'components/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css' %}"/>
<link rel="stylesheet" href="{% static '/assets/css/surface.css' %}">
