<div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="card-title fw-mediumbold">Suggested People</div>
        <div class="card-list">
          <div class="item-list">
            <div class="avatar">
              <img src="/static/assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle">
            </div>
            <div class="info-user ml-3">
              <div class="username">Jimmy Denis</div>
              <div class="status">Graphic Designer</div>
            </div>
            <button class="btn btn-icon btn-primary btn-round btn-xs">
              <i class="fa fa-plus"></i>
            </button>
            <button class="btn btn-icon btn-primary btn-round btn-xs">
              <i class="fa fa-edit"></i>
            </button>
          </div>
          <div class="item-list">
            <div class="avatar">
              <img src="/static/assets/img/chadengle.jpg" alt="..." class="avatar-img rounded-circle">
            </div>
            <div class="info-user ml-3">
              <div class="username">Chad</div>
              <div class="status">CEO Zeleaf</div>
            </div>
            <button class="btn btn-icon btn-primary btn-round btn-xs">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div class="item-list">
            <div class="avatar">
              <img src="/static/assets/img/talha.jpg" alt="..." class="avatar-img rounded-circle">
            </div>
            <div class="info-user ml-3">
              <div class="username">Talha</div>
              <div class="status">Front End Designer</div>
            </div>
            <button class="btn btn-icon btn-primary btn-round btn-xs">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div class="item-list">
            <div class="avatar">
              <img src="/static/assets/img/mlane.jpg" alt="..." class="avatar-img rounded-circle">
            </div>
            <div class="info-user ml-3">
              <div class="username">John Doe</div>
              <div class="status">Back End Developer</div>
            </div>
            <button class="btn btn-icon btn-primary btn-round btn-xs">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div class="item-list">
            <div class="avatar">
              <img src="/static/assets/img/talha.jpg" alt="..." class="avatar-img rounded-circle">
            </div>
            <div class="info-user ml-3">
              <div class="username">Talha</div>
              <div class="status">Front End Designer</div>
            </div>
            <button class="btn btn-icon btn-primary btn-round btn-xs">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div class="item-list">
            <div class="avatar">
              <img src="/static/assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle">
            </div>
            <div class="info-user ml-3">
              <div class="username">Jimmy Denis</div>
              <div class="status">Graphic Designer</div>
            </div>
            <button class="btn btn-icon btn-primary btn-round btn-xs">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  