
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Top Products</div>
      </div>
      <div class="card-body pb-0">
        <div class="d-flex">
          <div class="avatar">
            <img src="/static/assets/img/logoproduct.svg" alt="..." class="avatar-img rounded-circle">
          </div>
          <div class="flex-1 pt-1 ml-2">
            <h6 class="fw-bold mb-1">CSS</h6>
            <small class="text-muted">Cascading Style Sheets</small>
          </div>
          <div class="d-flex ml-auto align-items-center">
            <h3 class="text-info fw-bold">+$17</h3>
          </div>
        </div>
        <div class="separator-dashed"></div>
        <div class="d-flex">
          <div class="avatar">
            <img src="/static/assets/img/logoproduct.svg" alt="..." class="avatar-img rounded-circle">
          </div>
          <div class="flex-1 pt-1 ml-2">
            <h6 class="fw-bold mb-1">J.CO Donuts</h6>
            <small class="text-muted">The Best Donuts</small>
          </div>
          <div class="d-flex ml-auto align-items-center">
            <h3 class="text-info fw-bold">+$300</h3>
          </div>
        </div>
        <div class="separator-dashed"></div>
        <div class="d-flex">
          <div class="avatar">
            <img src="/static/assets/img/logoproduct3.svg" alt="..." class="avatar-img rounded-circle">
          </div>
          <div class="flex-1 pt-1 ml-2">
            <h6 class="fw-bold mb-1">Ready Pro</h6>
            <small class="text-muted">Bootstrap 4 Admin Dashboard</small>
          </div>
          <div class="d-flex ml-auto align-items-center">
            <h3 class="text-info fw-bold">+$350</h3>
          </div>
        </div>
        <div class="separator-dashed"></div>
        <div class="pull-in">
          <canvas id="topProductsChart"></canvas>
        </div>
      </div>
    </div>
  </div>